<body>
  <header>
    <div class="header-content">
      <div class="background-img"></div>
      <div class="overlay">
        <h1>Pet Adoption and Shelter Management System</h1>
      </div>
    </div>
  </header>

  <nav>
    <a routerLink="home" routerLinkActive="selected">Home</a>
    <a routerLink="about" routerLinkActive="selected">About</a>
    <a routerLink="visitor" routerLinkActive="selected">Visitor</a>
    <a routerLink="admin" routerLinkActive="selected">Admin</a>
    <a routerLink="adopter" routerLinkActive="selected">Adopter</a>
    <a routerLink="staff" routerLinkActive="selected">Staff</a>
  </nav>


  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>&copy; 2023 Pet Adoption and Shelter Management System. All rights reserved.</p>
  </footer>
</body>
