<div class="holder">
  <!-- TODO: the condition need to be modified -->
  <ng-container *ngIf="1 != 1; else loggedIn">
    <div class="authentication">
      Here the authentication
    </div>
  </ng-container>


  <ng-template #loggedIn>
    <div class="staff-main-page">

      <div class="header">
        <h1>Staff Dashboard</h1>
      </div>


      <div class="sidebar">
        <ul class="nav-links">
          <li><a (click)="selectSection(0)">Staff Home Page</a></li>
          <li><a (click)="selectSection(1)">Manage Pets</a></li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>

      <div class="main-content">

        <ng-container *ngIf="selectedSection == 0">
          This is the staff home page!
        </ng-container>

        <ng-container *ngIf="selectedSection == 1">
          This is the Pet Managment page!
        </ng-container>

      </div>

    </div>

  </ng-template>

</div>
