<div class="container">

  <h1>STAFF DASHBOARD</h1>

  <ng-container *ngIf="staff == null; else loggedIn">
    <div class="center">
      <h2>Staff Sign In</h2>
      <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" placeholder="Enter your Email" required>
          <div class="error" *ngIf="signInForm.get('email')?.invalid && (signInForm.get('email')?.dirty || signInForm.get('email')?.touched)">
            Please enter a valid Email.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" placeholder="Enter your password" required>
          <div class="error" *ngIf="signInForm.get('password')?.invalid && (signInForm.get('password')?.dirty || signInForm.get('password')?.touched)">
            Please enter a password.
          </div>
        </div>
        <button type="submit" [disabled]="signInForm.invalid">Sign In</button>
      </form>
    </div>
  </ng-container>


  <ng-template #loggedIn>
    <div class="staff-main-page">

      <div class="sidebar">
        <ul class="nav-links">
          <li><a (click)="selectSection(0)">Staff Home Page</a></li>
          <li><a (click)="selectSection(1)">Manage Pets</a></li>
          <li><a (click)="selectSection(2)">Review Applications</a></li>
          <li><a (click)="selectSection(3)">Edit Profile</a></li>
          <li><a (click)="selectSection(4)">Manage Document</a></li>
          <li><a (click)="signOut()">Sign Out</a></li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>

      <div class="main-content">

        <ng-container *ngIf="selectedSection == 0">
          This is the staff home page!
        </ng-container>

        <ng-container *ngIf="selectedSection == 1">

          <div class="pet-form-container">

            <!-- pet-form -->
            <form class="glbFormGroup" [formGroup]="petForm">

              <div>
                <label class="glbLabel" for="name">Name:</label>
                <input class="glbInput" type="text" id="name" formControlName="name">

                <div
                  *ngIf=
                    "petForm.get('name')?.hasError('required')
                    && petForm.get('name')?.touched"
                  class="input-error">
                  Name is required.
                </div>

              </div>

              <div>
                <label class="glbLabel" for="specie">Specie:</label>
                <input class="glbInput" type="text" id="specie" formControlName="specie">
                <div *ngIf="petForm.get('specie')?.hasError('required') && petForm.get('specie')?.touched" class="input-error">
                  Species is required.
                </div>
              </div>

              <div>
                <label class="glbLabel" for="breed">Breed:</label>
                <input class="glbInput" type="text" id="breed" formControlName="breed">
                <div *ngIf="petForm.get('breed')?.hasError('required') && petForm.get('breed')?.touched" class="input-error">
                  Breed is required.
                </div>
              </div>

              <div>
                <label class="glbLabel" for="birthdate">Birthdate:</label>
                <input class="glbInput" type="date" id="birthdate" formControlName="birthdate">
                <div *ngIf="petForm.get('birthdate')?.hasError('required') && petForm.get('birthdate')?.touched" class="input-error">
                  Birthdate is required.
                </div>
              </div>

              <div>
                <label class="glbLabel" for="gender">Gender:</label>
                <select class="glbInput" id="gender" formControlName="gender">
                  <option value="true">Male</option>
                  <option value="false">Female</option>
                </select>
                <div *ngIf="petForm.get('gender')?.hasError('required') && petForm.get('gender')?.touched" class="input-error">
                  Gender is required.
                </div>
              </div>

              <div>
                <label class="glbLabel" for="healthStatus">Health Status:</label>
                <input class="glbInput" type="text" id="healthStatus" formControlName="healthStatus">
                <div *ngIf="petForm.get('healthStatus')?.hasError('required') && petForm.get('healthStatus')?.touched" class="input-error">
                  Health Status is required.
                </div>
              </div>

              <div>
                <label class="glbLabel" for="behaviour">Behaviour:</label>
                <input class="glbInput" type="text" id="behaviour" formControlName="behaviour">
                <div *ngIf="petForm.get('behaviour')?.hasError('required') && petForm.get('behaviour')?.touched" class="input-error">
                  Behaviour is required.
                </div>
              </div>

              <div>
                <label class="glbLabel" for="description">Description:</label>
                <textarea class="glbInput" id="description" formControlName="description"></textarea>
                <div *ngIf="petForm.get('description')?.hasError('required') && petForm.get('description')?.touched" class="input-error">
                  Description is required.
                </div>
              </div>

              <div>
                <label class="glbLabel" for="shelterId">Shelter ID:</label>
                <input class="glbInput" type="number" id="shelterId" formControlName="shelterId">
                <div *ngIf="petForm.get('shelterId')?.hasError('required') && petForm.get('shelterId')?.touched" class="input-error">
                  Shelter ID is required.
                </div>
              </div>

              <div class="checkboxHolder">
                <label class="glbLabel" for="neutering">Neutering:</label>
                <input class="glbCheckbox" type="checkbox" id="neutering" formControlName="neutering">
              </div>

              <div class="checkboxHolder">
                <label class="glbLabel" for="houseTraining">House Training:</label>
                <input class="glbCheckbox" type="checkbox" id="houseTraining" formControlName="houseTraining">
              </div>

              <div class="checkboxHolder">
                <label class="glbLabel" for="vaccination">Vaccination:</label>
                <input class="glbCheckbox" type="checkbox" id="vaccination" formControlName="vaccination">
              </div>

              <div>
                <button class="glbButton" type="submit" [disabled]="!petForm.valid" (click)="onCreatePet()">Create Pet</button>
              </div>

              <div>
                <button class="glbButton" type="submit" [disabled]="!petForm.valid" (click)="onUpdatePet()">Update Pet</button>
              </div>

              <div>
                <button class="glbButton" type="submit" [disabled]="!petForm.valid" (click)="onDeletePet()">Delete Pet</button>
              </div>
            </form>

            <div class="pet-list">
              <ul>
                <li *ngFor="let pet of availablePetsForAdoption" (click)="onSelectPet(pet)">
                  {{ pet.name }} (ID: {{ pet.id }})
                </li>
              </ul>
            </div>

          </div>
        </ng-container>

        <ng-container *ngIf="selectedSection == 2">
          <div class="adoption-list">
            <h2>Adoption Applications</h2>
            <table>
              <thead>
                <tr>
                  <th>Application ID</th>
                  <th>Adopter ID</th>
                  <th>Pet ID</th>
                  <th>Submission Date</th>
                  <th>Experience</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let application of adoptionApplications">
                  <td>{{ application.id }}</td>
                  <td><a [routerLink]="['/adopter', application.adopterId]">{{ application.adopterId }}</a></td>
                  <td>{{ application.petId }}</td>
                  <td>{{ application.creationDate | date: 'short' }}</td>
                  <td>{{ application.experience ? 'Yes' : 'No' }}</td>
                  <td>{{ application.description }}</td>
                  <td>{{ application.status }}</td>
                  <td>
                    <select [(ngModel)]="application.status" (change)="updateApplication(application)">
                      <option value="APPROVED" [disabled]="application.status !== 'PENDING'">Approve</option>
                      <option value="REJECTED" [disabled]="application.status !== 'PENDING'">Reject</option>
                    </select>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedSection == 4">
          <div class="pet-form-container">
            <div class="pet-form">
              <h3>{{ selectedPetView.name }}</h3>
              <p><strong>Specie:</strong> {{ selectedPetView.specie }}</p>
              <p><strong>Breed:</strong> {{ selectedPetView.breed }}</p>
              <p><strong>Birthdate:</strong> {{ selectedPetView.birthdate }}</p>
              <p><strong>Gender:</strong> {{ selectedPetView.gender ? 'Male' : 'Female' }}</p>
              <p><strong>Health Status:</strong> {{ selectedPetView.healthStatus }}</p>
              <p><strong>Behaviour:</strong> {{ selectedPetView.behaviour }}</p>
              <p><strong>Description:</strong> {{ selectedPetView.description }}</p>
              <p><strong>Shelter ID:</strong> {{ selectedPetView.shelterId }}</p>
              <p><strong>Neutering:</strong> {{ selectedPetView.neutering ? 'Yes' : 'No' }}</p>
              <p><strong>House Training:</strong> {{ selectedPetView.houseTraining ? 'Yes' : 'No' }}</p>
              <p><strong>Vaccination:</strong> {{ selectedPetView.vaccination ? 'Yes' : 'No' }}</p>

              <h2>Document List</h2>

                <ul>
                  <li *ngFor="let document of selectedDocuments" (click)="onDocumentSelected(document)">
                    {{ document.name }}
                  </li>
                </ul>

                <h3>Upload New Documents</h3>

                <input type="file" (change)="onFilesSelected($event)" multiple />
                <button (click)="onUpload()">Upload</button>

            </div>

            <div class="pet-list">
              <ul>
                <li *ngFor="let pet of availablePetsForAdoption" (click)="onSelectPetView(pet)">
                  {{ pet.name }} (ID: {{ pet.id }})
                </li>
              </ul>
            </div>
          </div>


        </ng-container>

      </div>

    </div>

  </ng-template>

</div>
