<div class="container">
  <h2>Staff</h2>
  <p>
    This page should contain a sidebar for the different subpages that provide the staff functionalities,
    such as:
  </p>
  <ul>
    <li>Sign In</li>
    After signing in, the following operations will be available:
    <li>Modify the shelter he / she working at. (In case of being a manager)</li>
    <li>View Adoption Applications.</li>
    <li>Add new pets to the shelter.</li>
    <li>Modify a pet profile.</li>
    <li>etc..</li>
  </ul>
  <p>This is just a placeholder, and will be removed when implementing the real component.</p>
</div>
