<div class="container">

  <h1>Admin Page</h1>

  <ng-container *ngIf="admin == null; else signedInView">
    <div class="center">
      <h2>Admin Sign In</h2>
      <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="form">
        <div class="form-group">
          <label for="id">ID:</label>
          <input type="number" id="id" formControlName="id" placeholder="Enter your ID" required>
          <div class="error" *ngIf="signInForm.get('id')?.invalid && (signInForm.get('id')?.dirty || signInForm.get('id')?.touched)">
            Please enter a valid ID.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" placeholder="Enter your password" required>
          <div class="error" *ngIf="signInForm.get('password')?.invalid && (signInForm.get('password')?.dirty || signInForm.get('password')?.touched)">
            Please enter a password.
          </div>
        </div>
        <button type="submit" [disabled]="signInForm.invalid">Sign In</button>
      </form>
    </div>
  </ng-container>

  <ng-template #signedInView>
    <div class="content-wrapper">

      <aside class="sidebar">
        <ul><a (click)="selectSection(0)">My Profile</a></ul>
        <ul><a (click)="selectSection(1)">Create Admin</a></ul>
        <ul><a (click)="selectSection(2)">Create Staff</a></ul>
        <ul><a (click)="selectSection(3)">Create Shelter</a></ul>
      </aside>
      <div class="main-content">

        <ng-container *ngIf="selectedSection == 0">
          <p>This is the admin profile sub-page.</p>
        </ng-container>

        <ng-container *ngIf="selectedSection == 1">
          <p>This is the admin creation sub-page.</p>
        </ng-container>

        <ng-container *ngIf="selectedSection == 2">
          <p>This is the staff creation sub-page.</p>
        </ng-container>

        <ng-container *ngIf="selectedSection == 3">
          <p>This is the shelter creation sub-page.</p>
        </ng-container>

      </div>

    </div>
  </ng-template>

</div>
