.container {
  margin: 10px;
  padding: 5px;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.sorting-options {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

button {
  padding: 10px 25px;
  background-color: var(--dark-brown);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
  margin-left: 50%;
  transform: translate(-50%);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

label {
  margin-bottom: 5px; /* Adjust as needed for spacing between label and input */
}

input {
  width: 100%; /* Force the input fields to take full width within their container */
  box-sizing: border-box; /* Include padding and border within the width */
  padding: 5px;
}

.search-container {
  margin-bottom: 50px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet-form {
  margin-bottom: 20px; /* Add some space between pet cards */
}

.pet-divider {
  margin: 10px 0; /* Adjust the margin as needed */
  border: 1px solid var(--dark-brown); /* Define the line color */
}

.pet-form ul {
  list-style-type: none;
  padding: 0;
}

.pet-form li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.pet-form li:hover {
  background-color: var(--dark-brown);
  color: var(--beige);
}

.search-content {
  width: 100%;
  padding: 50px;
}

.checkboxHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
