<div class="container">

  <!-- pet-search.component.html -->

  <div class="search-container">
    <h2>Pet Search</h2>

    <div class="search-form">
      <label for="specie">Specie:</label>
      <input type="text" id="specie" [(ngModel)]="searchParams.specie" />

      <label for="breed">Breed:</label>
      <input type="text" id="breed" [(ngModel)]="searchParams.breed" />

      <label for="birthdate">Birthdate:</label>
      <input type="date" id="birthdate" [(ngModel)]="searchParams.birthdate" />

      <label for="gender">Gender:</label>
      <select id="gender" [(ngModel)]="searchParams.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>

      <label for="shelterLocation">Shelter Location:</label>
      <input type="text" id="shelterLocation" [(ngModel)]="searchParams.shelterLocation" />

      <div class="sorting-options">
        <h3>Sort by:</h3>

        <div class="toggle-switch">
          <label for="neutering">Neutering:</label>
          <input type="checkbox" id="neutering" [(ngModel)]="sorting.neutering" />
          <span class="slider"></span>
        </div>

        <div class="toggle-switch">
          <label for="house_training">House Training:</label>
          <input type="checkbox" id="house_training" [(ngModel)]="sorting.house_training" />
          <span class="slider"></span>
        </div>

        <div class="toggle-switch">
          <label for="vaccination">Vaccination:</label>
          <input type="checkbox" id="vaccination" [(ngModel)]="sorting.vaccination" />
          <span class="slider"></span>
        </div>
      </div>

      <button (click)="search()">Search</button>
    </div>

    <div class="search-content">
      <h2>The resulted pets</h2>

      <div *ngFor="let pet of pets" class="pet-card" (click)="onSelectPetView(pet)">
        <h3>{{ pet.name }}</h3>
        <p><strong>Specie:</strong> {{ pet.specie }}</p>
        <p><strong>Breed:</strong> {{ pet.breed }}</p>
        <p><strong>Birthdate:</strong> {{ pet.birthdate }}</p>
        <p><strong>Gender:</strong> {{ pet.gender ? 'Male' : 'Female' }}</p>
        <p><strong>Health Status:</strong> {{ pet.healthStatus }}</p>
        <p><strong>Behaviour:</strong> {{ pet.behaviour }}</p>
        <p><strong>Description:</strong> {{ pet.description }}</p>
        <p><strong>Shelter ID:</strong> {{ pet.shelterId }}</p>
        <p><strong>Neutering:</strong> {{ pet.neutering ? 'Yes' : 'No' }}</p>
        <p><strong>House Training:</strong> {{ pet.houseTraining ? 'Yes' : 'No' }}</p>
        <p><strong>Vaccination:</strong> {{ pet.vaccination ? 'Yes' : 'No' }}</p>

        <h2>Document List</h2>

                <ul>
                  <li *ngFor="let document of selectedDocuments" (click)="onDocumentSelected(document)">
                    {{ document.name }}
                  </li>
                </ul>
        <hr class="pet-divider">
      </div>
    </div>
</div>


</div>
