<div class="container">
  <h2>Visitor</h2>
  <p>
    This page should contain a sidebar for the different subpages that provide the visitor functionalities,
    such as:
  </p>
  <ul>
    <li>Viewing and Searching for pets in different shelters.</li>
    <li>In case he / she would like to adopt a pet, he must be an Adopter! (navigate to the adopter sign up page.)</li>
    <li>etc..</li>
  </ul>
  <p>This is just a placeholder, and will be removed when implementing the real component.</p>
</div>
