/* You can add global styles to this file, and also import other style files */

:root {
  --dark-brown: #5b432e; /* Adjusted brown color */
  --beige: beige;
  --main-content-bg: #f3e9d2; /* Lighter brown/tan color for main content background */
  --grey-brown: rgba(23, 17, 17, 0.73);
  --dark-brown2: rgb(52, 43, 34);
}

html, body { height: 100%; }

body {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

/* For WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dark-brown);
}

body::-webkit-scrollbar-track {
  background-color: var(--beige);
}
