/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
  --dark-brown: #5b432e; /* Adjusted brown color */
  --beige: beige;
  --main-content-bg: #f3e9d2; /* Lighter brown/tan color for main content background */
  --grey-brown: rgba(23, 17, 17, 0.73);
  --dark-brown2: rgb(52, 43, 34);
}

html, body { height: 100%; }

body {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

/* For WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dark-brown);
}

body::-webkit-scrollbar-track {
  background-color: var(--beige);
}

.glbFormGroup {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 50%;
  padding: 20px;
  margin: 0 auto 20px;
  background-color: var(--beige);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.glbLabel {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  white-space: nowrap;
}

.glbButton {
  padding: 10px 25px;
  background-color: var(--dark-brown);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 5px;
}

.glbButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.glbInput {
  width: 100%; /* Force the input fields to take full width within their container */
  box-sizing: border-box; /* Include padding and border within the width */
  padding: 5px;
  margin-bottom: 5px;
}

.glbInput option {
  font-size: 15px;
}

/* Style the custom checkbox */
.glbCheckbox {
  width: 20px !important;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

/* Style the checked state of the custom checkbox */
.glbCheckbox.checked {
  background-color: #007bff;
  border-color: #007bff;
}
