.container {
  max-width: 800px;
  margin: 0 auto 40px;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.team-members ul {
  list-style-type: none;
  padding: 0;
}

.team-members .team-member {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.team-info p {
  margin-bottom: 20px;
}
