<div class="container">
  <h2>Our Team</h2>

  <div class="team-members">
    <ul>
      <li class="team-member">Mariam Aziz Gerges</li>
      <li class="team-member">Mariam Hossam</li>
      <li class="team-member">Patrick Georges</li>
      <li class="team-member">George Beshay</li>
    </ul>
  </div>

  <div class="team-info">
    <p>
      Our team at the University of Alexandria's Computer and Systems Engineering department is dedicated
      to creating impactful solutions that transcend mere technology. We amalgamate our diverse skill sets,
      passion for innovation, and commitment to societal change to craft systems like the Pet Adoption and
      Shelter Management System.
    </p>
    <p>
      Microsoft SQL Server, our chosen database management system, forms the backbone of our platform,
      ensuring a robust, secure, and scalable infrastructure. Our software engineering process encapsulated
      comprehensive planning, agile development methodologies, and stringent quality assurance to yield
      a user-centric application that streamlines pet adoption.
    </p>
    <p>
      By blending our technical prowess with an acute understanding of the animal welfare landscape, we have
      endeavored to create a platform that empowers shelters, administrators, and adopters alike. Our constant
      pursuit of excellence propels us to refine and enhance our system continually.
    </p>
    <p>
      As a team, we are unwavering in our belief that technology can serve a higher purpose, fostering compassion
      and care for our furry companions. With a focus on innovation and empathy, we aim to make a meaningful
      difference in the lives of both animals and the individuals dedicated to their well-being.
    </p>
  </div>
</div>
